<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Programmers of Caribbean</title>
		<link rel="stylesheet" href="../../resources/css/vendor/bootstrap/css/bootstrap.css" type="text/css" />
		<!-- css3 social signin buttons -->
		<link rel="stylesheet" href="../../resources/css/vendor/css3-social-signin-buttons-gh-pages/auth-buttons.css" type="text/css" />
	</head>
	<body>
		<div class="container">
			<div class="masthead">
				<h1><a href="#">Programmers of Caribbean</a></h1>
				<ul class="nav nav-justified">
					<li class="active">
						<a href="#">Home</a>
					</li>
					<li><a href="#">Charities</a></li>
					<li><a href="#">Developers</a></li>
					<li><a href="#">Downloads</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<div class="jumbotron">
				<h1>Donate lines of code !</h1>
				<p class="lead"><i>" Charity begins at code. "</i> <font size="3"> - Python (our quirky pet)</font></p>
				<p>
					<!--<a href="#" class="btn btn-lg btn-success">Register</a>-->
					<a href="https://github.com/login/oauth/authorize?client_id=76b2e5167ea22c75ad14&redirect_uri=http://programmers-of-caribbean.herokuapp.com/oauth&scope=user:email" class="btn large btn-auth btn-github">Sign in with <b>Github</b></a>
				</p>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<p>Dummy Text</p>
				</div>
				<div class="col-lg-8">
					<p>Dummy Text</p>
				</div>
			</div>
			<!-- Site footer -->
			<div class="footer">
				<p>Programmers of Caribbean 2013</p>	
			</div>
		</div>
		<!-- jQuery -->
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="js/bootstrap.js"></script>
	</body>
</html>
