doctype html
html
	head
		script(src="/resources/js/bower_components/jquery/jquery.min.js", type="text/javascript")		
		script(src="/resources/js/bower_components/underscore/underscore-min.js", type="text/javascript")		
		script(src="/resources/js/bower_components/Eventable/eventable.js", type="text/javascript")		
		script(src="/resources/js/bower_components/sir-trevor-js/sir-trevor.min.js", type="text/javascript")
		link(rel="stylesheet", href="/resources/js/bower_components/sir-trevor-js/sir-trevor.css", type="text/css")
		link(rel="stylesheet", href="/resources/js/bower_components/sir-trevor-js/sir-trevor-icons.css", type="text/css")
	body
		form
			textarea(class="js-st-instance")
		script(type="text/javascript").
			var proposalEditor = new SirTrevor.Editor({ el: $('.js-st-instance')});	
					
